.filmbox {
  width: 1300px;
  margin: 0 auto;
  min-height: 320px;
}

.filmbox__subtitle {
  position: relative;
  width: 90%;
  height: 48px;
  font-weight: 900;
  line-height: 48px;
  font-size: 36px;
  color: #FFFFFF;
}

.filmbox__card {
  display: grid;
  grid-template-columns: repeat(4, 302px);
  margin-top: 24px;
  gap: 24px;
}


